<option>Conta de água alta</option>
        <option>Hidrômetro girando</option>
        <option>Mancha ou mofo na parede</option>
        <option>Piso úmido</option>
        <option>Piscina perdendo água</option>
        <option>Caixa d'água vazando</option>
        <option>Outro</option>
