<div class="topbar">
  <div class="container">
    <div>
      <strong>Atendimento 24 horas</strong> em São Paulo e região
    </div>

    <div class="topbar-links">
      <span>Residencial</span>
      <span>Empresas</span>
      <a href="/onde-atendemos/">Onde atendemos</a>
    </div>
  </div>
</div>