---
pagination:
  data: servicos
  size: 1
  alias: servico
permalink: "{{ servico.slug }}/index.html"
layout: layouts/pagina-servico.njk
eleventyComputed:
  title: "{{ servico.title }}"
  description: "{{ servico.metaDescription }}"
---