---
pagination:
  data: bairros
  size: 1
  alias: bairro
permalink: "{{ bairro.slug }}/index.html"
layout: layouts/pagina-local.njk
eleventyComputed:
  title: "{{ bairro.title | safe }}"
  description: "{{ bairro.metaDescription | safe }}"
---